<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Pay My Buddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Pay My Buddy</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/transfer" class="nav-link active">Transfer</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="/logout" class="nav-link">Log off</a></li>
  </ul>
</header>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
  </ol>
</nav>

<div class="container text-center">
  <form th:action="@{/process_add_transaction}" th:object="${transaction}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
      <div class="form-group row">
        <label class="col-4 col-form-label">Amount : </label>
        <div class="col-8">
          <input type="number" th:field="*{amount}" class="form-control" required />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Receiver : </label>
        <select class="col-8" name="receiverId" id="receiverId">
          <option disabled selected>Choose a connection</option>
          <option th:each="connection: ${connectedUser.connections}" th:value="${connection.id}" th:text="${connection.username}"}>Username</option>
        </select>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Description : </label>
        <div class="col-8">
          <input type="text" th:field="*{description}" class="form-control"/>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Transfer</button>
      </div>
    </div>
  </form>
</div>

<div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Connections</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction: ${transactionList}">
      <td th:text="${transaction.receiverId}">ReceiverId</td>
      <td th:text="${transaction.description}">Description</td>
      <td th:text="${transaction.amount}">Amount</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>